*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection{
    background-color: var(--fill-color);
    color: var(--default-icon)
}

:root{
    font-family: 'Source Sans Pro', sans-serif;
    --dark-bg: #202225;
    --medium-bg: #2F3136;
    --light-bg: #36393F;
    --white-text: #F1F1F2;
    --logo-text: #72767D;
    --hovered: #DCDDDE;
    --default-icon: #B9BBBE;
    --fill-color: #5865F2;
}

.container{
    width: 100%;
    background-color: var(--medium-bg);
}

.topbar{
    background-color: var(--medium-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.topbar .logo{
    user-select: none;
    color: var(--white-text);
    font-size: 2em;
    margin-left: .2em;
}

.navbar ul{
    display: flex;
    height: 100%;
}

.navbar li{
    list-style-type: none;
    font-size: 1em;
    padding: 1em;
}

 a{
    color: var(--white-text);
    text-decoration: none;
}

a:hover{
    color: var(--hovered);
}

.article{
    min-height: 12em;
    background-color: var(--light-bg);
    color: var(--white-text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.article .title{
    font-size: 3em;
    margin: 2em 1em;
    text-align: center;
}

.box{
    width: 100%;
    background-color: var(--light-bg);
    color: var(--white-text);
}

.box .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box .option{
    max-width: 50em;
    margin: 2em;
    padding: 2em;
    border: .2em solid var(--fill-color);
    border-radius: 2em;
    display: grid;
    grid-template: 1fr 2fr / 1fr 1fr;
}

.box .option:hover{
    border-radius: 2em;
}

.box .img{
    width: 20em;
    height: 10em;
    grid-row: 1/3;
    border-radius: 2em;
}

.box .img1{
    background: url(florian-olivo-Mf23RF8xArY-unsplash.jpg);
    background-size: cover;
}

.box .img2{
    background: url(annie-spratt-dWYU3i-mqEo-unsplash.jpg);
    background-size: cover;
}

.box .img3{
    background: url(clay-banks-twq9tSU3ySw-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.box .title{
    font-weight: bold;
}

.box .desc{
    overflow: hidden;
    text-align: justify;
}

.box .desc a{
    color: var(--fill-color);
}

